@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-bg text-white min-h-screen;
}

button,
a,
input,
textarea {
  @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-accent;
}
